.asteridCard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1.5rem;
}

.asteroidCardHeader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.asteroidCardBody {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.asteroidCardDistance {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .asteroidCardDistanceValue {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .asteroidCardDistanceLine {
    position: relative;
    width: 100%;
    height: 1px;
    background: var(--white);
    transform: translateY(-0.25rem);
  }

  .asteroidCardDistanceLine::before,
  .asteroidCardDistanceLine::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
  }

  .asteroidCardDistanceLine::before {
    left: -1px;
    border-right: 6px solid var(--white);
  }

  .asteroidCardDistanceLine::after {
    right: -1px;
    border-left: 6px solid var(--white);
  }

  .asteroidCardIcon {
    flex: 0 0 auto;
    display: block;
  }

.asteroidCardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.asteroidCardName {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--white);
}

.asteroidCardDiameter {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.asteroidCardFooter {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    align-items: center;
    height: 1.5rem;
}

.asteroidCardDanger {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.baseOrderBtn {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 11px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    height: 1.5rem;
    padding-left: 11px;
    padding-right: 11px;
}

.toCartBtn {
    background-color: var(--orange);
    color: var(--white);
}

.inCartBtn {
    background-color: var(--orange-light);
    opacity: 0.15;
    color: var(--btn-color);
    cursor: default;
}
